<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Experiência</title>
</head>

<body>
    <h2>Experiência Profissional</h2>
    <table border="1">
        <tr>
            <th>Ano</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Descrição</th>
        </tr>
        <tr>
            <td>2019 – 2020</td>
            <td>Estágio - Técnico em Informática</td>
            <td>N4 Tecnologia</td>
            <td>Manutenção e conserto de computadores.</td>
        </tr>
        <tr>
            <td>2020 – 2021</td>
            <td>Técnico em Redes de Computadores</td>
            <td>N4 Tecnologia</td>
            <td>Realização de projetos de redes.</td>
        </tr>
        <tr>
            <td>2021 – 2024</td>
            <td>Analista de TI</td>
            <td>N4 Tecnologia</td>
            <td>Suporte a sistemas, gerenciamento e otimização de infraestrutura de TI.</td>
        </tr>
        <tr>
            <td>2024 – 2025</td>
            <td>Analista de TI</td>
            <td>Disnove</td>
            <td>Suporte a sistemas voltados a concessionária, gerenciamento e otimização de infraestrutura de TI.</td>
        </tr>
    </table>
</body>

</html>